:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --container-bg-color: #fff;
    --number-bg-color: #fff;
    --number-border-color: #ccc;
    --button-bg-color: #007bff;
    --button-text-color: #fff;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f0f0f0;
    --container-bg-color: #444;
    --number-bg-color: #555;
    --number-border-color: #777;
    --button-bg-color: #0056b3;
    --button-text-color: #fff;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.numbers-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--number-bg-color);
    border: 1px solid var(--number-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#generate-button, #theme-toggle {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle {
    margin-bottom: 15px;
}